<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Here are demos of the component:</h2>

<mat-tab-group>

    <mat-tab label="Text (or number) Input">

      <inline-edit [(value)]="values.answer" [options]="textOptions" placeholder="Image URL"></inline-edit>
    </mat-tab>
    
    <mat-tab label="Image URL Input">
      <inline-edit [(value)]="values.image" [options]="imageOptions" placeholder="What is the meaning of life?"></inline-edit>
    </mat-tab>

</mat-tab-group>
<h3>Persisted Values</h3>
<pre>{{ values | json }}</pre>