<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Here are demos of the component:</h2>

<mat-tab-group>

    <mat-tab label="Text (or number)">
      <inline-edit [(value)]="values.answer" [options]="textOptions" placeholder="What is the meaning of life?"></inline-edit>
    </mat-tab>
    
    <mat-tab label="Image URL">
      <inline-edit [(value)]="values.image" [options]="imageOptions" placeholder="Image URL" maxlength="400"></inline-edit>
    </mat-tab>
    
    <mat-tab label="Text Area">
      <inline-edit [(value)]="values.multi" [options]="multiOptions" placeholder="Multi Line Text"></inline-edit>
    </mat-tab>
    
    <mat-tab label="Date">
      <inline-edit [(value)]="values.date" [options]="dateOptions" placeholder="Pick a Date in the past"></inline-edit>
    </mat-tab>

</mat-tab-group>
<h3>Persisted Values</h3>
<pre>{{ values | json }}</pre>